body {
    background-color: #e1c8a4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: #d4b395; 
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
